.paycard-form{
    color: black;

    margin: 10px;
    .row{
        margin-top: 10px;
    }

    select {
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
      
      }

    button{
        
        width:90%;
    }
}